.inputregister{
    padding: 7px;
    margin-bottom: 2%;
    width: 300px;
    border-radius: 20px;
    margin-top: 2%;
    border-bottom: 1px solid rgba(51, 4, 4, 0.8);
    border-top: none;
    border-left: none;
    border-right: none;
    cursor: pointer;

}
.inputregister:focus-visible {
    outline: darkcyan auto 1px;
   }
.formregister{
margin-top: 7%;

}
.register{
    display: flex;
    justify-content: center;
}
.titleregister{
    text-align: center;
    margin-bottom: 20%;
}
.buttonregister{
    padding: 8px 16px;
    border: none;
    border-radius: 15px;
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: medium;
    margin-top: 10px;
    margin-left: 20%;
    margin-right: 20%;
    border-bottom: 1px solid rgba(51, 4, 4, 0.3);
    border-top: 1px solid rgba(51, 4, 4, 0.3);
    cursor: pointer;

}
.buttonregister:hover{
    color: white;
    background-color: rgba(51, 4, 4, 0.896)
}
.labelregister{
    margin-left: 4%;
    margin-bottom: 1%;
}
.p-s{
    margin-top: 1px;
    font-size:x-small;
}
