.page{
    display: flex;
    justify-content:center;
  
    align-items: center;
    width:90vmax;
    height: 90vh;
    padding: 5px;
    /* color: rgba(51, 4, 4, 0.896); */
    background-color: rgba(232, 230, 232, 0.7);
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border-radius: 5px;
    box-shadow: 0 4px 3px 1px #FCFCFC, 
                0 6px 8px #D6D7D9, 
                0 -4px 4px #CECFD1, 
                0 -6px 4px #FEFEFE, 
                inset 0 0 3px 3px #CECFD1;

}
@media (max-width: 300px){
    .page{
        height: 150vmax;
       /* width: 90vw;
       height: 100dvh; */
     
}
}