.form {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  border: 1px solid black;
  padding: 10px;
  max-width: 400px;
}
.input {
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: cornsilk;
  max-width: 200px;
  border: 1px solid black;
}
.input:focus-visible {
  /* outline-offset: 8px;
  border: 2px solid slateblue;*/
  outline: slateblue auto 1px;
}
.input-search {
  margin-left: 10px;
}
.label {
  display: flex;
  flex-direction: column;
}
.add-contact-button {
  width: 100px;
  margin-top: 10px;
  /* background-color:rgb(144, 183, 186); */
  border: 1px solid #19191a;
  border-radius: 50px;
  padding: 5px;
  color: rgb(11, 11, 11);
}
 .add-contact-button:hover {
  /* /* background-color: khaki; */
  /* border: 1px solid slateblue;  */
  color: black;
} 
