.homepage{
    /* margin-top: 5%; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.homemnav{
   width:110%;
    display: flex;
    justify-content:space-around;
    align-items: center;

}

@media (max-width: 800px){
  .homemnav{
    /* width: 90%; */

 }

}
/* .custom-button {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    position: relative; 
    overflow: hidden; 
  }
  
  .custom-button::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 20%, transparent 70%); 
    opacity: 0; 
    transition: opacity 0.3s ease; 
  }
  
  .custom-button:hover::after {
    opacity: 1; 
  } */